<!DOCTYPE html>
<html>
  <head>
    <title>Tacostagram Final</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <link rel="stylesheet" href="/stylesheets/application.css">
  </head>

  <body>
    <div>
      <%= flash["notice"] %>
    </div>
   <body>

                                  
  <nav>
    <% if session[:user_id] %>
      <p>Welcome, <%= User.find(session[:user_id]).username %>!</p>
      <%= link_to "Logout", "/logout", method: :delete %>

    <% else %>
<%= link_to "Login", "/login" %>
      <%= link_to "Signup", new_user_path %>
    <% end %>
  </nav>

  <%= yield %>
  </body>
</html>
